<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--mybatis使用配置项开启数据库驼峰命令下划线识别，根据源码参考也可以在application.yml中配置-->
    <!--<settings>-->
        <!--<setting name="mapUnderscoreTocamelCase" value="true"/>-->
    <!--</settings>-->
</configuration>